[mysqld@replica]
server_id   ={{ replica.server_id  }}
datadir     ={{ replica.datadir }}
socket      ={{ replica.socket }}
pid-file    ={{ replica.pid_file }}
port        ={{ replica.port }}
log-error   ={{ replica.log_file }}